<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Action Kamen Login Page</title>
    <link rel="stylesheet" href="login.css" />
    <link rel="stylesheet" href="mediaQuerries.css" />
  </head>
  <body>
    <% if (messages.error) { %>
      <%= messages.error %>
    <% } %>
    <section class="login-section first-page">
      <div class="login-wrapper">
        <img src="websiteIcon.png" alt="icon" class="logo"/>
        <h1 id="login-heading" class="unselectable">Log in</h1>
        <p class="p-style1 unselectable">to continue to website</p>
      </div>
      <form class="login-info" action="/login" method="POST">
        <input type="text" class="text-input" id="rollnoinput" placeholder="Roll no" name="rollno"/>
        <input type="password" class="text-input" id="pswd-input1" placeholder="Password" name="pwd"/>
        <div class="toggle-show-pswd">
          <button onclick="togglePassword('1')" class="toggle-btn">
            <img src="show_pswd.svg" alt="toggle-icon" id="toggle-icon1"/>
          </button>
          <p class="p-style1 unselectable" id="toggle-text1">Show password</p>
        </div>
        <p class="p-style1 unselectable" id="question">
          Not logged in? login to start taxi pooling
        </p>
        <div class="btns">
          <button class="create-account-btn" type="button"><a href="register">Create account</a></button>
          <button class="login-btn" type="submit">Login</button>
        </div>
      </form>
    </section>
    <script src="login.js"></script>
  </body>
  </html>
