<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Action Kamen Login Page</title>
    <link rel="stylesheet" href="login.css" />
    <link rel="stylesheet" href="mediaQuerries.css" />
  </head>
  <body>
    <section class="first-page signup-section">
      <div class="login-wrapper">
        <img
        src="transparent-google-suite-icon-google-icon-5f7f985ccd60e3.5687494416021975968412.png"
        alt="icon"
          class="logo"
        />
        <h1 id="login-heading" class="unselectable">Create a website account</h1>
        <p class="p-style1 unselectable">to continue to website</p>
      </div>
      <form class="info-wrapper" method="POST" action="/">
        <input type="text" class="text-input" id="rollnoinput" placeholder="Roll no"/>
        <input type="text" class="text-input" id="name-input" placeholder="Name" />
        <input type="text" class="text-input" id="phoneNo-input" placeholder="Phone number" />
        <input type="password" class="text-input" id="pswd-input2" placeholder="Password" />
        <div class="toggle-show-pswd">
          <button onclick="togglePassword('2')" class="toggle-btn">
            <img
            src="show_pswd.svg"
            alt="toggle-icon"
            id="toggle-icon2"
            />
          </button>
          <p class="p-style1 unselectable" id="toggle-text2">Show password</p>
        </div>
        <div class="btns">
          <button class="create-account-btn unselectable" type="submit">Create account</button>
          <button class="account-exists unselectable" type="button"><a href="/">Go back</a></button>
        </div>
      </form>
    </section>
    <script src="login.js"></script>
  </body>
  </html>
